### 1 Question

In [2]:
# to insert an illegal character in a string these are used example / /n etc.

In [5]:
s="My name is "akshat "sharma "

SyntaxError: invalid syntax (<ipython-input-5-e0676bf13e6d>, line 1)

In [12]:
# to avoid this type of error escape characters are used

s="My name is \"akshat\" sharma "

In [13]:
s

'My name is "akshat" sharma '

### 2 question

In [1]:
# n for new line and t for tab

### 3 question

In [ ]:
s="My name is \"akshat\" sharma "

### 4 Question

In [2]:
# because ' quote is in between " " quotes to it won't throw an error

### 5 Question

In [3]:
# print('akshat')
# print('enrolled in ineuron')
# this can be done

### 6 question

In [4]:
'Hello, world!'[1] # because str supports indexing so it will grab
                   # value of index 1

'e'

In [5]:
'Hello, world!'[0:5] # this is slicing operation will start from
                     # 0 index and go till 5 but 5 is not included
                     # as it is upperbond

'Hello'

In [6]:
'Hello, world!'[:5] # same as above

'Hello'

In [7]:
'Hello, world!'[3:] # will start from 3rd index go till end as
# no upper or end index is specified

'lo, world!'

### 7 question

In [8]:
'Hello'.upper() # built-in method of converting a str to upper case

'HELLO'

In [9]:
'Hello'.upper().isupper() # 1st it will convert the whole str to 

# to Uppper and than check for upper and return the result in 
# the form of True and False

True

In [10]:
'Hello'.upper().lower() # 1st converted to upper then lower

'hello'

### 8 Question

In [11]:
'Remember, remember, the fifth of July.'.split()
# buil-in method will convert to list and values are taken as spaces and words/characters

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [12]:
'-'.join('There can only one.'.split())
# built-in str method to concat list and return to single line 
# stirng

'There-can-only-one.'

### 9 Question

In [13]:
# .ljust(),.rjust() and .center()

### 10 Question

In [ ]:
# strip() methid