### 1 Ques

* is expression
'hello' this is  a value
-87.8 this is a value 
- this is a expresion
/ this is a expression
+ this is a expression 
6 this is value

### 2 Ques

variables are reserved memory loactions where
as string is a data type 
example

a = 10 var
'Akshat' str

### 3 Ques

3 different data types are 

 int-(1,2,-3....)
 float-(0.3,0.4,...)
 complex-(5+4i,.....)

### 4 ques

Exp is made of some sort of mathematical operations
to perform some mathematical task like sum,sub etc.

### 6 ques

In [6]:
bacon = 22
"""
due to assignment operator bacon contains 20
"""

In [8]:
bacon+1
"""
only perfroms math operations but for var
bacon it would still remain 22 as here we dont
have used assignment operator 
"""

23

In [9]:
bacon # as here this can bee seen

22

### 7 ques

In [13]:
'spam'+'spmaspam'

'spamspmaspam'

In [14]:
'spam'*3

'spamspamspam'

both will yeild same result as we are using
string method of concatination and multiplication

### 8 ques

In [15]:
# because var names can't be a number like 100

### 9 ques

In [ ]:
# int(),str() and float()

### 10 ques

because 99 is of int type and rest are of str type

it can be fixed by converting 99 to str
like '99' this will concat the 3 strings